.header {
    display: flex;    
    justify-content: space-around;  
    flex-wrap: wrap;
    align-items: center;

    padding-top: 20px;
    margin: 0 auto 20px;
    border-radius: 0 0 10px 10px;
    width: 1200px;
    @media (max-width: 420px) {
        max-width: 100%;
    }
    /* background-image: linear-gradient(to top, #a1ffff 0%, #ffffff 100%); */
    background-color: gray;
    a {
        text-decoration: none;
        color: black;
    }

    img {
        height: 20px;
    }
    
    .header__input_search {
        display: flex;
        justify-content: space-between;
        
        max-width: 420px;
        @media (max-width: 420px) {
            max-width: 400px;
        }

        input {
            font-size: 25px;

            height: 20px;
            max-width: 450px;

            border-radius: 5px;
            border: 1px solid black;
            
        }
    }
    .buttons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;

        max-width: 500px;
        @media (max-width: 420px) {
            width: 400px;
        }
        
        .buttons__span{
            cursor: pointer;
            font-size: 20px;
            vertical-align: middle;
        } 
    }

    
}

