.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 47, 47);
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid blueviolet;
    background-image: linear-gradient(to bottom, #a1ffff 0%, #ffffff 100%);
  }
}


